.panelc {height: 100px; width: 1920px; background-color:#456e69; position:relative; top:-25px; left:-10px; transform: rotate(1deg); box-shadow: 0px 0px 600px #83F5D1; }
.sirok {position: relative; left:150px; filter:drop-shadow(0px 0px 600px white); animation: air 4s infinite;}
.panelc:hover {cursor:pointer; transform: rotate(-0deg); box-shadow: 0px 0px 600px #91fff8; background-color:#64a19a;}
@keyframes air {
0%{transform: translateY(-10px);}
50%{transform: translateY(10px); }
100%{transform: translateY(-10px);}	
}
.sirok:hover{filter:drop-shadow(0px 0px 400px white);}

body{ background: linear-gradient(45deg, #192324, #1c3536);}
.main{font-size:85px;  font-weight:900; font-family: sans-serif; color:white; transform: translateX(850px) translateY(-700px);}
.maint{font-size:85px;  font-weight:900; font-family: sans-serif; color:gray; transform: translateX(1550px) translateY(-730px) rotate(6deg);}
.butoj{cursor: pointer; height: 120px; width: 360px; background-color:white; transform: translateX(1210px) translateY(-730px); border-radius: 60px;}
.btext{font-family: sans-serif; font-weight:900; font-size:30px; text-align: center; line-height:110px; }
.butoj:hover{filter:drop-shadow(0px 0px 100px white);}
.back{font-family: sans-serif; font-weight:900; font-size:35px; color:white; transform: translateX(1550px) translateY(-1550px);}